ILL_KOHA_PASSWORD=<Koha password>
FORMS_KOHA_PASSWORD=<Koha password>
FJARRKONTROLLEN_GUB_OAUTH2_CLIENT_SECRET=<client secret>
FORMS_GUB_OAUTH2_CLIENT_SECRET=<client secret>
RAILS_SECRET_KEY_BASE=asp9e8ga9821pf98hp981fhah298h21kdc
ILL_LIBRISILL_API_KEY=<api key>
