---
- name: Deploy
  hosts: all
  tasks:

  - name: Ensure data directory
    become: yes
    ansible.builtin.file:
      path: "{{ data_dir }}"
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '755'

  - name: Ensure db directies
    become: yes
    ansible.builtin.file:
      path: '{{ item }}'
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '755'
    loop:
      - "{{ db_data_dir }}"
      - "{{ forms_db_data_dir }}"

  - name: Ensure backend export directory
    become: yes
    ansible.builtin.file:
      path: "{{ backend_export_data_dir }}"
      state: directory
      owner: root
      group: root
      mode: '755'

  - name: Deploy app
    include_role:
      name: ub-ansible-deploy
